body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #e7e8eb;
}

.page{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.login-card{
  background:white;
  width:900px;
  max-width:95%;
  border-radius:20px;
  display:flex;
  padding:50px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.left{ flex:1; }

.logo{
  font-size:30px;
  font-weight:bold;
  color:#4285f4;
  margin-bottom:20px;
}

h1{
  margin:0;
  font-size:40px;
  font-weight:500;
}

.sub{
  color:#5f6368;
  margin-top:10px;
}

.right{
  flex:1;
  display:flex;
  align-items:center;
}

/* email or phone box style */
#email{
  width: 100%;
  max-width: 320px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}
#email::placeholder {
  color: #888;
  font-style: italic;
}
#email:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
  background-color: #fff;
}
#email:invalid {
  border-color: #df9991;
  box-shadow: 0 0 6px rgba(231, 76, 60, 0.4);
}

/* password box style */
#password{
  width: 100%;
  max-width: 320px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

#password::placeholder {
  color: #888;
  font-style: italic;
}
#password:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
  background-color: #fff;
}

/* Style the login button */ 
button { 
  width: 100%;          /* makes it stretch across the form */
  max-width: 355px;     /* limit the maximum width */
  padding: 14px 20px;   /* increase padding for a taller/wider button */
  font-size: 18px;      /* larger text */
  border: none;
  border-radius: 8px; 
  background-color: #4285f4; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
} 

button:hover { 
  background-color: #2c6bb2; 
}

/* Link styling */
.links {
  width: 100%;
  max-width: 320px;   /* Matches your input field width */
  text-align: right;  /* Aligns the link to the right side */
  margin-top: 8px;    /* Adds spacing above */
}
.links a {
  font-size: 14px;
  color: #4A90E2;
  text-decoration: none;
  transition: color 0.3s ease;
}
.links a:hover {
  color: #2c6bb2;
  text-decoration: underline;
}

form{ 
  width:100%; 
  display: flex; 
  flex-direction: column; /* stacks inputs vertically */ 
  align-items: flex-start; /* keeps them left-aligned */ 
  gap: 12px; /* adds consistent spacing between elements */
}
